@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-prev.swiper-disabled,
.swiper-next.swiper-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-prev:after,
.swiper-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-prev,
.swiper-container-rtl .swiper-next {
  left: 10px;
  right: auto;
}

.swiper-next,
.swiper-container-rtl .swiper-prev {
  right: 10px;
  left: auto;
}

.swiper-prev.swiper-white,
.swiper-next.swiper-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-prev.swiper-black,
.swiper-next.swiper-black {
  --swiper-navigation-color: #000000;
}

.swiper-lock {
  display: none;
}

.swiper-next {
  margin-left: 140px;
}

@media screen and (max-width: 768px) {
  .swiper-prev img {
    margin-left: -15px !important;
  }

  .swiper-next img {
    margin-right: -15px !important;
  }
}
@media screen and (max-width: 500px) {
  .swiper-prev img {
    margin-left: -20px !important;
  }

  .swiper-next img {
    margin-right: -20px !important;
  }
}
@media screen and (max-width: 450px) {
  .swiper-prev img {
    width: 85%;
    margin-left: -20px !important;
  }

  .swiper-next img {
    width: 85%;
    margin-right: -20px !important;
  }
}
.header-wrap {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-logo {
  display: flex;
  flex-direction: column;
}
.header-logo__text {
  margin-top: -35px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.795em;
}
.header-span {
  position: relative;
  font-size: 25px;
  line-height: 38px;
  font-family: "Montserrat Bold";
}
.header-span a {
  color: black;
}
.header-span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 140%;
  height: 1px;
  margin: 0 0 -3px -15px;
  display: inline-block;
  background-color: #000;
  opacity: 0.7;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts__phone {
  font-size: 20px;
  line-height: 24px;
  margin-right: 15px;
}
.header-contacts__phone a {
  color: #000;
}
.header-contacts__btn {
  padding: 8px 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}
.header-contacts__btn a {
  color: #000;
  font-size: 20px;
  line-height: 24px;
}
.header-contacts__btn:hover {
  background: #FFD954;
}
.header-nav {
  margin-top: 25px;
  width: 100%;
}
.header-nav__list {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-nav__list::before {
  content: "";
  position: absolute;
  width: 99%;
  margin-left: 2%;
  margin-top: -14px;
  height: 2px;
  background: grey;
  top: 0;
  opacity: 0.8;
}
.header-nav__link {
  margin-left: 50px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.header-nav__link:hover {
  font-weight: bold;
}
.header-burger {
  display: none;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 11;
  width: 40px;
  height: 28px;
  border: 0;
  background: 0 0;
  padding: 0;
}
.header-burger__item {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  background-color: #000000;
  border-radius: 20px;
  transition: all 0.2s linear;
}

@media screen and (max-width: 1206px) {
  .header-nav__link {
    display: flex;
    margin-left: 27px;
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 993px) {
  .header-wrap {
    padding-bottom: 35px;
  }
  .header-span {
    display: none;
  }
  .header-contacts {
    flex-direction: column;
  }
  .header-contacts__phone {
    font-size: 18px;
    text-align: center;
  }
  .header-contacts__btn {
    margin-top: 10px;
    margin-bottom: -20px;
  }
  .header-contacts__btn a {
    font-size: 18px;
  }
  .header-nav__link {
    margin-left: 28px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    margin-bottom: 20px;
  }
  .header-wrap {
    padding-bottom: 10px;
  }
  .header-logo {
    display: flex;
    justify-content: start;
  }
  .header-span {
    display: none;
  }
  .header-contacts {
    flex-direction: column;
  }
  .header-contacts__phone {
    font-size: 18px;
    text-align: center;
  }
  .header-contacts__btn {
    margin-top: 10px;
    margin-bottom: -20px;
  }
  .header-contacts__btn a {
    font-size: 18px;
  }
  .header-nav {
    position: absolute;
    top: -100%;
    left: 0;
  }
  .header-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 768px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100px;
    right: 0;
    background-color: #FFD954;
    transition: all 0.3s;
  }
  .header-nav__list::before {
    display: none;
  }
  .header-nav__link {
    text-align: center;
    transition: all 0.3;
    margin-bottom: 25px;
    margin-left: 0 !important;
  }
  .header-nav__link:hover {
    text-decoration: underline;
  }
  .header-nav.active {
    transition: all 0.3s;
    top: 50px;
    display: flex;
  }
  .header-nav__link {
    margin-left: 28px;
    font-size: 18px;
  }
  .header-burger {
    display: block;
  }
  .header-burger__item.active:nth-last-child(2) {
    transition: all 0.3s;
    opacity: 0;
  }
  .header-burger__item.active:first-child {
    webkit-transform-origin: left center;
    transform-origin: left center;
    transform: rotate(37deg);
  }
  .header-burger__item.active:last-child {
    webkit-transform-origin: left center;
    transform-origin: left center;
    transform: rotate(-39deg);
    top: 9px;
  }
  .header-span, .header-contacts {
    display: none;
  }
  .header.active {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
  }
}
@media screen and (max-width: 370px) {
  .header-logo__text {
    margin-top: -30px;
    font-size: 11px;
  }
}
@media screen and (max-width: 650px) {
  .header-nav__list {
    width: 650px;
  }
}
@media screen and (max-width: 600px) {
  .header-nav__list {
    width: 600px;
  }
}
@media screen and (max-width: 550px) {
  .header-nav__list {
    width: 550px;
  }
}
@media screen and (max-width: 500px) {
  .header-nav__list {
    width: 500px;
  }
}
@media screen and (max-width: 450px) {
  .header-nav__list {
    height: 450px;
    width: 450px;
  }
}
@media screen and (max-width: 400px) {
  .header-nav__list {
    width: 400px;
  }
}
@media screen and (max-width: 350px) {
  .header-nav__list {
    width: 350px;
  }
}
.description {
  margin-bottom: 53px;
  background: url("../img/description/desc_bg-1.jpg") left no-repeat, url("../img/description/desc_bg-2.jpg") right no-repeat;
  padding: 93px 0 90px 80px;
}
.description__body {
  width: auto;
}
.description__heading {
  font-size: 50px;
  line-height: 61px;
  font-family: "Montserrat Semibold";
  padding-bottom: 20px;
}
.description__text {
  font-size: 24px;
  line-height: 29px;
  font-family: "Montserrat Light";
  padding-bottom: 37px;
}

@media screen and (max-width: 1201px) {
  .description {
    padding: 80px 0 80px 80px;
  }
  .description__body {
    width: 70%;
  }
  .description__heading {
    font-size: 35px;
    line-height: 50px;
  }
  .description__text {
    font-size: 20px;
    line-height: 29px;
  }
}
@media screen and (max-width: 872px) {
  .description {
    padding: 50px 0 50px 40px;
  }
  .description__heading {
    font-size: 30px;
    line-height: 45px;
  }
  .description__text {
    font-size: 18px;
    line-height: 29px;
  }
}
@media screen and (max-width: 755px) {
  .description {
    padding: 40px 0 40px 20px;
  }
  .description__heading {
    width: 450px;
    font-size: 28px;
    line-height: 45px;
  }
  .description__text {
    width: 400px;
    font-size: 17px;
    line-height: 29px;
    padding-bottom: 34px;
  }
}
@media screen and (max-width: 576px) {
  .description {
    padding: 30px 0 35px 15px;
  }
  .description__heading {
    width: 390px;
    font-size: 25px;
    line-height: 45px;
  }
  .description__text {
    width: 400px;
    font-size: 16px;
    line-height: 29px;
  }
}
@media screen and (max-width: 450px) {
  .description {
    padding: 30px 0 35px 10px;
  }
  .description__heading {
    width: 350px;
    font-size: 23px;
    line-height: 40px;
  }
  .description__text {
    width: 350px;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .description {
    padding: 30px 0 35px 2px;
  }
  .description__heading {
    width: 330px;
    font-size: 22px;
    line-height: 35px;
    padding-bottom: 13px;
  }
  .description__text {
    width: 350px;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 355px) {
  .description {
    padding: 30px 0 35px 0px;
  }
  .description__heading {
    width: 200px;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .description__text {
    width: 305px;
  }
}
@media screen and (max-width: 335px) {
  .description__text {
    width: 290px;
  }
}
.offer {
  padding-bottom: 125px;
}
.offer__title {
  margin-bottom: 80px;
}

@media screen and (max-width: 1201px) {
  .offer {
    padding-bottom: 90px;
  }
  .offer__title {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 7681px) {
  .offer {
    padding-bottom: 75px;
  }
  .offer__title {
    margin-bottom: 50px;
  }
}
.want__title {
  margin-bottom: 30px;
}
.want-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.want-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 23%;
  margin-right: 2%;
}
.want-item__text {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 298px;
  font-size: 24px;
  line-height: 29px;
}
.want-item__first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/want/bg-1.png") center no-repeat;
  background-size: contain;
  padding-top: 190px;
  padding-right: 60px;
  padding-bottom: 100px;
}
.want-item__two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/want/bg-2.png") center no-repeat;
  background-size: contain;
  padding-top: 190px;
  padding-bottom: 150px;
}
.want-item__three {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/want/bg-3.png") center no-repeat;
  background-size: contain;
  padding-top: 200px;
  padding-bottom: 150px;
}
.want-item__three .i-1 {
  position: absolute;
  top: 100px;
  left: 10px;
}
.want-item__three .i-2 {
  position: absolute;
  top: 145px;
  left: 165px;
}
.want-item__three .i-3 {
  position: absolute;
  top: 200px;
  left: 105px;
}
.want-item__four {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/want/bg-4.png") center no-repeat;
  background-size: contain;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1441px) {
  .want-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .want-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24%;
    margin-right: 1%;
  }
  .want-item__text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 270px;
    font-size: 22px;
    line-height: 30px;
  }
  .want-item__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-1.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 60px;
    padding-bottom: 100px;
  }
  .want-item__first img {
    width: 150px;
  }
  .want-item__two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-2.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .want-item__two img {
    width: 150px;
  }
  .want-item__three {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-3.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 60px;
    left: 30px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 90px;
    left: 165px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 150px;
    left: 105px;
    width: 90px;
  }
  .want-item__four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-4.png") center no-repeat;
    background-size: contain;
    margin-bottom: 0px;
  }
  .want-item__four img {
    width: 160px;
  }
}
@media screen and (max-width: 1201px) {
  .want-item__text {
    width: 235px;
    font-size: 19px;
  }
  .want-item__first {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
  .want-item__first img {
    width: 130px;
  }
  .want-item__two {
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
  .want-item__two img {
    width: 130px;
  }
  .want-item__three {
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 90px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 80px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 50px;
    left: 110px;
    width: 65px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 70px;
  }
  .want-item__four {
    padding-top: 40px;
    padding-right: 55px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .want-item__four img {
    width: 140px;
  }
}
@media screen and (max-width: 1020px) {
  .want-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .want-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 32%;
    margin-right: 1%;
  }
  .want-item__text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 270px;
    font-size: 22px;
    line-height: 30px;
  }
  .want-item__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-1.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 60px;
    padding-bottom: 100px;
  }
  .want-item__first img {
    width: 150px;
  }
  .want-item__two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-2.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .want-item__two img {
    width: 150px;
  }
  .want-item__three {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-3.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 60px;
    left: 30px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 90px;
    left: 165px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 150px;
    left: 105px;
    width: 90px;
  }
  .want-item__four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-4.png") center no-repeat;
    background-size: contain;
    margin-bottom: 0px;
  }
  .want-item__four img {
    width: 160px;
  }
}
@media screen and (max-width: 872px) {
  .want-item {
    width: 32%;
    margin-right: 1%;
  }
  .want-item__text {
    width: 235px;
    font-size: 19px;
  }
  .want-item__first {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
  .want-item__first img {
    width: 130px;
  }
  .want-item__two {
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
  .want-item__two img {
    width: 130px;
  }
  .want-item__three {
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 90px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 80px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 50px;
    left: 110px;
    width: 65px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 70px;
  }
  .want-item__four {
    padding-top: 40px;
    padding-right: 55px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .want-item__four img {
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .want-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .want-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 49%;
    margin-right: 1%;
  }
  .want-item__text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 270px;
    font-size: 22px;
    line-height: 30px;
  }
  .want-item__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-1.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 60px;
    padding-bottom: 100px;
  }
  .want-item__first img {
    width: 150px;
  }
  .want-item__two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-2.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .want-item__two img {
    width: 150px;
  }
  .want-item__three {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-3.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 60px;
    left: 50px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 80px;
    left: 145px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 150px;
    left: 105px;
    width: 90px;
  }
  .want-item__four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-4.png") center no-repeat;
    background-size: contain;
    margin-bottom: 0px;
  }
  .want-item__four img {
    width: 160px;
  }
}
@media screen and (max-width: 625px) {
  .want-item {
    width: 49%;
    margin-right: 1%;
  }
  .want-item__text {
    width: 220px;
    font-size: 18px;
  }
  .want-item__first {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 80px;
  }
  .want-item__first img {
    width: 130px;
  }
  .want-item__two {
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
  .want-item__two img {
    width: 130px;
  }
  .want-item__three {
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 90px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 80px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 50px;
    left: 110px;
    width: 65px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 70px;
  }
  .want-item__four {
    padding-top: 40px;
    padding-right: 55px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .want-item__four img {
    width: 140px;
  }
}
@media screen and (max-width: 525px) {
  .want-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .want-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  .want-item__text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 270px;
    font-size: 22px;
    line-height: 30px;
  }
  .want-item__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-1.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 60px;
    padding-bottom: 100px;
  }
  .want-item__first img {
    width: 180px;
  }
  .want-item__two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-2.png") center no-repeat;
    background-size: contain;
    padding-top: 130px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .want-item__two img {
    width: 180px;
  }
  .want-item__three {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-3.png") center no-repeat;
    background-size: contain;
    padding-top: 180px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 30px;
  }
  .want-item__three .i-1 {
    position: absolute;
    top: 60px;
    left: 90px;
    width: 95px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 80px;
    left: 205px;
    width: 90px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 180px;
    left: 125px;
    width: 110px;
  }
  .want-item__four {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/want/bg-4.png") center no-repeat;
    background-size: contain;
    margin-bottom: 0px;
  }
  .want-item__four img {
    width: 180px;
  }
}
@media screen and (max-width: 430px) {
  .want-item__three .i-1 {
    position: absolute;
    top: 60px;
    left: 40px;
    width: 95px;
  }
  .want-item__three .i-2 {
    position: absolute;
    top: 80px;
    left: 155px;
    width: 90px;
  }
  .want-item__three .i-3 {
    position: absolute;
    top: 180px;
    left: 125px;
    width: 100px;
  }
}
.work {
  padding-top: 100px;
  padding-bottom: 100px;
}
.work-wrap {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.work__title {
  margin-bottom: 80px;
}
.work__item {
  position: relative;
  margin-right: 20px;
}
.work__item_last {
  margin-right: 0;
}
.work__item_last::after {
  display: none;
}
.work__item::after {
  content: url("../img/work/arrow.png");
  position: absolute;
  right: -150px;
  top: 25px;
  display: flex;
  align-items: center;
}
.work__item_two::after {
  top: 50px;
}
.work__text {
  text-align: left;
  margin-top: 15px;
  width: 175px;
  font-size: 24px;
  line-height: 29px;
}
.work__slider_wrap {
  margin-bottom: 90px;
  position: relative;
}
.work__slider h3 {
  padding: 10px;
  color: #fff;
  position: absolute;
  top: 35px;
  left: 65px;
  background-color: #000;
}
.work__img {
  width: 95%;
}
.work__icon {
  position: absolute;
  top: 40%;
  left: 44%;
}

@media screen and (max-width: 1201px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item::after {
    content: url("../img/work/arrow.png");
    position: absolute;
    right: -115px;
    top: 25px;
  }
  .work__item_two::after {
    top: 50px;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 175px;
    font-size: 23px;
    line-height: 29px;
  }
  .work__slider_wrap {
    margin-bottom: 70px;
  }
  .work__slider h3 {
    padding: 10px;
    top: 30px;
    left: 45px;
  }
  .work__img {
    width: 95%;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 44%;
    width: 120px;
  }
}
@media screen and (max-width: 1101px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item::after {
    content: url("../img/work/arrow-0.85x.png");
    position: absolute;
    right: -95px;
    top: 25px;
  }
  .work__item_two::after {
    top: 50px;
  }
}
@media screen and (max-width: 1020px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item::after {
    content: url("../img/work/arrow-0.75x.png");
    position: absolute;
    right: -80px;
    top: 25px;
  }
  .work__item_two::after {
    top: 50px;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 175px;
    font-size: 22px;
    line-height: 29px;
  }
}
@media screen and (max-width: 978px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item::after {
    content: url("../img/work/arrow-0.65x.png");
    position: absolute;
    right: -65px;
    top: 25px;
  }
  .work__item_two::after {
    top: 50px;
  }
}
@media screen and (max-width: 936px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item::after {
    display: none;
  }
}
@media screen and (max-width: 879px) {
  .work__title {
    margin-bottom: 70px;
  }
  .work__item {
    margin-bottom: 10px;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 175px;
    font-size: 21px;
    line-height: 29px;
  }
  .work__slider_wrap {
    margin-bottom: 20px;
  }
  .work__slider_wrap h3 {
    font-size: 19px;
    padding: 10px;
    top: 25px;
    left: 35px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 110px;
  }
}
@media screen and (max-width: 624px) {
  .work-wrap {
    justify-content: space-around;
  }
  .work__title {
    margin-bottom: 50px;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 175px;
    font-size: 20px;
    line-height: 29px;
  }
  .work__slider_wrap {
    margin-bottom: 10px;
  }
  .work__slider_wrap h3 {
    font-size: 17px;
    padding: 10px;
    top: 25px;
    left: 30px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 110px;
  }
}
@media screen and (max-width: 520px) {
  .work-wrap {
    justify-content: space-around;
  }
  .work__title {
    margin-bottom: 50px;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 175px;
    font-size: 19px;
    line-height: 29px;
  }
  .work__slider_wrap {
    margin-bottom: 10px;
  }
  .work__slider_wrap h3 {
    font-size: 14px;
    padding: 10px;
    top: 25px;
    left: 20px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 85px;
  }
}
@media screen and (max-width: 450px) {
  .work__slider_wrap {
    margin-bottom: 10px;
  }
  .work__slider_wrap h3 {
    font-size: 14px;
    padding: 10px;
    top: 13px;
    left: 10px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 70px;
  }
}
@media screen and (max-width: 430px) {
  .work {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .work__title {
    margin-bottom: 40px;
  }
  .work__item {
    position: relative;
    margin-right: 20px;
  }
  .work__item_two {
    margin-right: 0;
  }
  .work__item_last {
    margin-right: 0;
  }
  .work__item_last img {
    width: 70%;
  }
  .work__item img {
    width: 70%;
  }
  .work__text {
    text-align: left;
    margin-top: 15px;
    width: 150px;
    font-size: 17px;
    line-height: 23px;
  }
}
@media screen and (max-width: 420px) {
  .work__slider_wrap {
    margin-bottom: 10px;
  }
  .work__slider_wrap h3 {
    font-size: 12px;
    padding: 8px;
    top: 13px;
    left: 7px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 70px;
  }
}
@media screen and (max-width: 360px) {
  .work__title {
    margin-bottom: 30px;
  }
  .work__item {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .work__item_two {
    margin-right: 20px;
  }
  .work__slider_wrap {
    margin-bottom: 10px;
  }
  .work__slider_wrap h3 {
    font-size: 10px;
    padding: 8px;
    top: 13px;
    left: 7px;
  }
  .work__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 70px;
  }
}
.write {
  padding-bottom: 150px;
}
.write__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.write__image {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
}
.write__image img {
  width: 69%;
  padding: 90px;
  background: url("../img/write/write-bg.png") center no-repeat;
  background-size: contain;
}
.write__text {
  width: 698px;
}

@media screen and (max-width: 1201px) {
  .write {
    padding-bottom: 140px;
  }
  .write__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .write__image {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }
  .write__image img {
    width: 78%;
    padding: 90px;
    background: url("../img/write/write-bg.png") center no-repeat;
    background-size: contain;
  }
  .write__body {
    flex-basis: 70%;
  }
  .write__text {
    width: 520px;
  }
}
@media screen and (max-width: 1030px) {
  .write {
    padding-bottom: 130px;
  }
  .write__image {
    width: 80%;
    flex-basis: 50%;
    margin-right: 5px;
  }
  .write__body {
    flex-basis: 50%;
  }
  .write__text {
    width: 535px;
  }
}
@media screen and (max-width: 960px) {
  .write {
    padding-bottom: 120px;
  }
  .write__image img {
    width: 100%;
    padding: 90px;
    background: url("../img/write/write-bg.png") center no-repeat;
    background-size: contain;
  }
}
@media screen and (max-width: 872px) {
  .write {
    padding-bottom: 110px;
  }
  .write__image {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
  }
  .write__image img {
    width: 100%;
    padding: 90px;
  }
  .write__text {
    width: 465px;
  }
}
@media screen and (max-width: 798px) {
  .write {
    padding-bottom: 100px;
  }
  .write__image img {
    width: 100%;
    padding: 79px;
  }
  .write__text {
    width: 465px;
  }
}
@media screen and (max-width: 768px) {
  .write {
    padding-bottom: 100px;
  }
  .write__image img {
    width: 100%;
    padding: 70px;
  }
  .write__text {
    width: 465px;
  }
}
@media screen and (max-width: 740px) {
  .write {
    padding-bottom: 70px;
  }
  .write__heading {
    width: 240px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    flex-basis: 70%;
    display: flex;
    order: 2;
  }
  .write__image img {
    width: 51%;
    padding: 58px;
  }
  .write__body {
    order: 1;
    margin-bottom: 20px;
  }
  .write__text {
    width: 465px;
  }
}
@media screen and (max-width: 600px) {
  .write {
    padding-bottom: 70px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 55%;
    padding: 55px;
  }
  .write__body {
    order: 1;
    margin-bottom: 20px;
  }
  .write__text {
    width: 465px;
  }
}
@media screen and (max-width: 530px) {
  .write {
    padding-bottom: 30px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 61%;
    padding: 48px;
  }
  .write__body {
    order: 1;
    margin-bottom: 20px;
  }
  .write__text {
    width: 415px;
  }
}
@media screen and (max-width: 480px) {
  .write {
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 71%;
    padding: 53px;
  }
  .write__text {
    width: 360px;
  }
}
@media screen and (max-width: 420px) {
  .write {
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 80%;
    padding: 55px;
  }
  .write__text {
    width: 330px;
  }
}
@media screen and (max-width: 385px) {
  .write {
    padding-left: 20px;
    padding-bottom: 30px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 90%;
    padding: 55px;
  }
  .write__text {
    width: 295px;
  }
}
@media screen and (max-width: 350px) {
  .write {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .write__wrap {
    flex-wrap: wrap;
  }
  .write__image {
    order: 2;
  }
  .write__image img {
    width: 100%;
    padding: 55px;
  }
  .write__text {
    width: 295px;
  }
}
.portfolio {
  padding-bottom: 160px;
}
.portfolio__title {
  margin-bottom: 45px;
}

@media screen and (max-width: 915px) {
  .portfolio {
    padding-bottom: 120px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 530px) {
  .portfolio {
    padding-bottom: 100px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 400px) {
  .portfolio {
    padding-bottom: 80px;
  }
  .portfolio__title {
    margin-bottom: 45px;
  }
}
.questions {
  padding-bottom: 170px;
}
.questions__title {
  margin-bottom: 50px;
}
.questions__wrap {
  background: url("../img/questions/bg-1.png") left no-repeat, url("../img/questions/bg-2.png") right no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.questions__item {
  font-family: "Montserrat Light";
  width: 85%;
  text-align: left;
  padding: 20px 40px;
  margin-bottom: 24px;
  background: #fff;
  border-radius: 13px;
  font-size: 25px;
  line-height: 30px;
}

@media screen and (max-width: 1201px) {
  .questions {
    padding-bottom: 130px;
  }
  .questions__title {
    margin-bottom: 45px;
  }
  .questions__item {
    font-family: "Montserrat Light";
    width: 85%;
    text-align: left;
    padding: 20px 40px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 13px;
    font-size: 23px;
    line-height: 29px;
  }
}
@media screen and (max-width: 992px) {
  .questions {
    padding-bottom: 100px;
  }
  .questions__title {
    margin-bottom: 40px;
  }
  .questions__item {
    font-family: "Montserrat Light";
    width: 85%;
    text-align: left;
    padding: 20px 30px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 13px;
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .questions {
    padding-bottom: 80px;
  }
  .questions__title {
    margin-bottom: 35px;
  }
  .questions__item {
    font-family: "Montserrat Light";
    width: 85%;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 13px;
    font-size: 21px;
    line-height: 28px;
  }
}
@media screen and (max-width: 620px) {
  .questions {
    padding-bottom: 60px;
  }
  .questions__title {
    margin-bottom: 30px;
  }
  .questions__wrap {
    background: url("../img/questions/bg-1.png") top no-repeat, url("../img/questions/bg-2.png") bottom no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .questions__item {
    font-family: "Montserrat Light";
    width: 85%;
    text-align: left;
    padding: 20px 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 13px;
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 400px) {
  .questions {
    padding-bottom: 40px;
  }
  .questions__title {
    margin-bottom: 25px;
  }
  .questions__wrap {
    background: none;
    background-size: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .questions__item {
    font-family: "Montserrat Light";
    width: 85%;
    text-align: left;
    padding: 20px 15px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 13px;
    font-size: 20px;
    line-height: 28px;
  }
}
.review {
  padding-bottom: 260px;
}
.review__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review__image {
  padding: 20px;
  padding-right: 0;
  background: url("../img/review/bg-1.png") center no-repeat;
  background-size: contain;
  flex-basis: 51%;
}
.review__image img {
  width: 61%;
}
.review__body {
  display: flex;
  flex-direction: column;
}
.review__body h3 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
}
.review__body p {
  margin-bottom: 25px;
  text-align: left;
  width: 285px;
  font-size: 19px;
  line-height: 23px;
}
.review__body a {
  font-size: 29px;
  line-height: 35px;
}
.review__btn {
  width: 248px;
  padding: 10px 5px !important;
  color: #000;
}

@media screen and (max-width: 1201px) {
  .review {
    padding-bottom: 240px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review__image {
    padding: 20px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 51%;
  }
  .review__image img {
    width: 75%;
  }
}
@media screen and (max-width: 1075px) {
  .review {
    padding-bottom: 260px;
  }
  .review .swiper-prev img {
    margin-left: -10px;
  }
  .review .swiper-next img {
    margin-right: -10px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review__image {
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 51%;
  }
  .review__image img {
    width: 80%;
  }
}
@media screen and (max-width: 1025px) {
  .review {
    padding-bottom: 220px;
  }
  .review .swiper-prev img {
    margin-left: -10px;
  }
  .review .swiper-next img {
    margin-right: -10px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review__image {
    padding: 18px;
    margin-right: 10px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 60%;
  }
  .review__image img {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .review {
    padding-bottom: 180px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review__image {
    padding: 18px;
    margin-right: 10px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 65%;
  }
  .review__image img {
    width: 100%;
  }
}
@media screen and (max-width: 970px) {
  .review {
    padding-bottom: 180px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
  }
  .review__image {
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 45%;
  }
  .review__image img {
    width: 60%;
  }
}
@media screen and (max-width: 660px) {
  .review {
    padding-bottom: 180px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
  }
  .review__image {
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 45%;
  }
  .review__image img {
    width: 75%;
  }
  .review__body {
    display: flex;
    flex-direction: column;
  }
  .review__body h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
  }
  .review__body p {
    margin-bottom: 25px;
    text-align: left;
    width: 285px;
    font-size: 17px;
    line-height: 23px;
  }
  .review__body a {
    font-size: 24px;
    line-height: 30px;
  }
  .review__btn {
    width: 200px;
    padding: 10px 2px !important;
    color: #000;
  }
}
@media screen and (max-width: 550px) {
  .review {
    padding-bottom: 180px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
  }
  .review__image {
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 45%;
  }
  .review__image img {
    width: 85%;
  }
  .review__body {
    display: flex;
    flex-direction: column;
  }
  .review__body h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
  }
  .review__body p {
    margin-bottom: 25px;
    text-align: left;
    width: 240px;
    font-size: 16px;
    line-height: 23px;
  }
  .review__body a {
    font-size: 22px;
    line-height: 25px;
  }
  .review__btn {
    width: 200px;
    padding: 10px 2px !important;
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  .review {
    padding-bottom: 160px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
  }
  .review__image {
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 50%;
  }
  .review__image img {
    width: 100%;
  }
  .review__body {
    display: flex;
    flex-direction: column;
  }
  .review__body h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
  }
  .review__body p {
    margin-bottom: 25px;
    text-align: left;
    width: 230px;
    font-size: 15px;
    line-height: 23px;
  }
  .review__body a {
    font-size: 22px;
    line-height: 25px;
  }
  .review__btn {
    width: 200px;
    padding: 10px 2px !important;
    color: #000;
  }
}
@media screen and (max-width: 415px) {
  .review {
    padding-bottom: 160px;
  }
  .review__wrap {
    display: flex;
    align-items: center;
  }
  .review__image {
    display: none;
    padding: 18px;
    padding-right: 0;
    background: url("../img/review/bg-1.png") center no-repeat;
    background-size: contain;
    flex-basis: 50%;
  }
  .review__image img {
    width: 100%;
  }
  .review__body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .review__body h3 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
  }
  .review__body p {
    text-align: center !important;
    margin-bottom: 25px;
    text-align: left;
    width: 200px;
    font-size: 15px;
    line-height: 23px;
  }
  .review__body a {
    font-size: 22px;
    line-height: 25px;
  }
  .review__btn {
    width: 200px;
    padding: 10px 2px !important;
    color: #000;
  }
}
@media screen and (max-width: 375px) {
  .review {
    padding-bottom: 160px;
  }
  .review__wrap {
    margin-right: 0;
  }
}
.footer {
  padding-bottom: 180px;
}
.footer__wrap {
  font-family: "Montserrat Regular";
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__wrap::before {
  content: "";
  position: absolute;
  width: 99%;
  margin-left: 2%;
  margin-top: -60px;
  height: 1px;
  background: #000;
  top: 0;
  opacity: 0.8;
}
.footer__left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-right: 24px;
}
.footer__social {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.footer__link {
  margin-right: 20px;
}
.footer__phone {
  margin-bottom: 15px;
  font-size: 31px;
  line-height: 38px;
}
.footer__phone a {
  color: #000;
}
.footer__address {
  font-size: 20px;
  line-height: 24px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.footer__right span {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
.footer-list {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.footer-list__link a {
  display: inline-block;
  color: #000;
  margin-bottom: 10px;
}
.footer-list__link a:hover {
  font-weight: 600;
}

@media screen and (max-width: 912px) {
  .footer {
    padding-bottom: 100px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 24px;
  }
  .footer__social {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .footer__link {
    margin-right: 20px;
  }
  .footer__phone {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 38px;
  }
  .footer__phone a {
    color: #000;
  }
  .footer__address {
    font-size: 17px;
    line-height: 24px;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }
  .footer__right span {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
  .footer-list {
    font-size: 19px;
    line-height: 24px;
    color: #000;
  }
  .footer-list__link a {
    display: inline-block;
    color: #000;
    margin-bottom: 10px;
  }
  .footer-list__link a:hover {
    font-weight: 600;
  }
}
@media screen and (max-width: 790px) {
  .footer {
    padding-bottom: 100px;
  }
  .footer__wrap {
    width: auto;
    justify-content: start;
    flex-wrap: wrap;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 24px;
    margin-bottom: 25px;
  }
  .footer__social {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .footer__link {
    margin-right: 20px;
  }
  .footer__phone {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 38px;
  }
  .footer__phone a {
    color: #000;
  }
  .footer__address {
    width: 370px;
    font-size: 17px;
    line-height: 24px;
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-basis: 50%;
  }
  .footer__right span {
    font-weight: 600;
    display: inline-block;
    text-align: center !important;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .footer-list {
    font-size: 19px;
    line-height: 24px;
    color: #000;
  }
  .footer-list__link a {
    display: inline-block;
    color: #000;
    margin-bottom: 10px;
  }
  .footer-list__link a:hover {
    font-weight: 600;
  }
}
@media screen and (max-width: 790px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer__wrap::before {
    margin-top: -40px;
  }
  .footer__address {
    width: 260px;
  }
}
body {
  font-family: "Montserrat Regular";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
}

.btn {
  padding: 18px 45px;
  display: inline-block;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 13px;
}
.btn a {
  font-size: 30px;
  line-height: 44px;
  color: #000;
  font-family: "Montserrat Semibold";
}

@media screen and (max-width: 1920px) {
  .title {
    font-size: 30px;
    line-height: 61px;
    text-align: center;
    font-family: "Montserrat Semibold";
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** slider **/
.slider__wrap {
  display: flex;
  align-items: center;
}
.slider-item {
  justify-content: center;
  flex-direction: column;
}
.slider__image {
  margin-bottom: 10px;
}
.slider__text {
  font-family: "Montserrat Light";
  margin-top: 20px;
  width: 298px;
  font-size: 24px;
  line-height: 29px;
}
.slider__text.changes {
  width: 295px;
}
.slider__text_first {
  width: 215px;
}

@media screen and (max-width: 500px) {
  .slider__text {
    font-family: "Montserrat Light";
    margin-top: 20px;
    width: 298px;
    font-size: 20px;
    line-height: 29px;
  }
  .slider__text.changes {
    width: 230px;
  }
  .slider__text_first {
    width: 190px;
  }
}
/** class: btn **/
@media screen and (max-width: 1201px) {
  .btn {
    padding: 12px 20px;
  }
  .btn a {
    font-size: 25px;
    line-height: 40px;
  }
}
@media screen and (max-width: 872px) {
  .btn {
    padding: 10px 17px;
  }
  .btn a {
    font-size: 22px;
    line-height: 35px;
  }
}
@media screen and (max-width: 755px) {
  .btn {
    padding: 8px 15px;
  }
  .btn a {
    font-size: 21px;
    line-height: 35px;
  }
}
@media screen and (max-width: 576px) {
  .btn {
    padding: 8px 15px;
  }
  .btn a {
    font-size: 19px;
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    padding: 8px 13px;
  }
  .btn a {
    font-size: 18px;
    line-height: 23px;
  }
}
@media screen and (max-width: 355px) {
  .btn {
    padding: 8px 10px;
  }
}
/** class: title **/	
@media screen and (max-width: 500px) {
  .title {
    font-size: 25px;
    line-height: 61px;
    text-align: center;
    font-family: "Montserrat Semibold";
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 21px;
    line-height: 61px;
  }
}
@media screen and (max-width: 340px) {
  .title {
    font-size: 21px;
    line-height: 40px;
  }
}