.questions
	padding-bottom: 100px
	&__title
		margin-bottom: 50px
	&__block
		background: url('../img/questions/bg-1.png') left no-repeat, url('../img/questions/bg-2.png') right no-repeat
		background-size: auto
		display: flex
		align-items: center
		flex-direction: column
		margin-top: 41px
	&__item
		width: 90%
	&__title,&__body
		+light
		text-align: left
		padding: 20px 45px 20px 30px
		margin-bottom: 24px
		background: #fff
		border-radius: 13px
		font-size: 25px
		line-height: 30px
	&__title
		position: relative
		transition: all 0.6s
		-webkit-transition: all 0.6s
		-moz-transition: all 0.6s
		-ms-transition: all 0.6s
		-o-transition: all 0.6s
		&::before
			content: ""
			width: 20px
			height: 3px
			background: #FFD954
			position: absolute
			top: 50%
			transform: translateY(-50%) rotate(45deg)
			right: 25px
			-webkit-transform: translateY(-50%) rotate(45deg)
			-moz-transform: translateY(-50%) rotate(45deg)
			-ms-transform: translateY(-50%) rotate(45deg)
			-o-transform: translateY(-50%) rotate(45deg)
		&::after
			content: ""
			width: 20px
			height: 3px
			background: #FFD954
			position: absolute
			top: 50%
			transform: translateY(-50%) rotate(-45deg)
			right: 12px
			-webkit-transform: translateY(-50%) rotate(-45deg)
			-moz-transform: translateY(-50%) rotate(-45deg)
			-ms-transform: translateY(-50%) rotate(-45deg)
			-o-transform: translateY(-50%) rotate(-45deg)
		&._active
			&::before
				transform: translateY(-50%) rotate(-45deg)
				-webkit-transform: translateY(-50%) rotate(-45deg)
				-moz-transform: translateY(-50%) rotate(-45deg)
				-ms-transform: translateY(-50%) rotate(-45deg)
				-o-transform: translateY(-50%) rotate(-45deg)
			&::after
				transform: translateY(-50%) rotate(45deg)
				-webkit-transform: translateY(-50%) rotate(45deg)
				-moz-transform: translateY(-50%) rotate(45deg)
				-ms-transform: translateY(-50%) rotate(45deg)
				-o-transform: translateY(-50%) rotate(45deg)

	&__body
		font-weight: bold
		border: 3px solid rgba(0, 0, 0, 0.1)

@media screen and ( max-width: 1201px )
	.questions
		&__title, &__body
			font-size: 23px
			line-height: 29px

@media screen and ( max-width: 992px )
	.questions
		&__block
			padding: 30px 0 10px 0
			background: #FFD954
		&__title, &__body
			font-size: 22px
			line-height: 28px

@media screen and ( max-width: 768px )
	.questions
		padding-bottom: 80px
		&__title, &__body
			font-size: 20px
			line-height: 28px

@media screen and ( max-width: 620px )
	.questions
		padding-bottom: 60px
		&__title, &__body
			font-size: 18px
			line-height: 28px
			padding: 20px 45px 20px 20px

@media screen and ( max-width: 400px )
	.questions
		padding-bottom: 40px
		&__wrap
			background: none
			background-size: none
			display: flex
			align-items: center
			flex-direction: column
